*{
  font-family: 'Roboto', sans-serif;
}

#hero {
  background-image: url("../img/home/hero.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center right;
  padding: 50px 0px;
  position: relative;
}

.brand{
  font-family: 'Great Vibes', cursive;
  letter-spacing: 3px;
}

.logo{
  font-family: 'Chela One', cursive;
  letter-spacing: 3px;
}

.browse {
  background-image: url("../img/browse.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center right;
}

#rest1{
  background-image: url("../img/mahakal/mahakal.avif");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center right;
}

#rest2{
  background-image: url("https://b.zmtcdn.com/data/pictures/5/18868015/e238cbc0df6c112a037f9ac212293685.jpg?output-format=webp&fit=around|771.75:416.25&crop=771.75:416.25;*,*");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center right;
}

#rest3{
  background-image: url("../img/mahakal/mahakal.avif");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center right;
}

#rest4{
  background-image: url("../img/mahakal/mahakal.avif");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center right;
}