*{
  font-family: 'Roboto', sans-serif;
}

#hero {
  background-image: url("../img/home/hero.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center right;
  padding: 50px 0px;
  position: relative;
}

.brand{
  font-family: 'Great Vibes', cursive;
  letter-spacing: 3px;
}

.logo{
  font-family: 'Chela One', cursive;
  letter-spacing: 3px;
}
